<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="row">
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: rgb(253, 177, 87);">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Java (85%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: rgb(148, 115, 230);">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">C# (90%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: rgb(189, 236, 246);">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Angular (90%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: rgb(255, 188, 170);">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">React (85%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: lightgreen;">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">MongoDB, SQL Server (85%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 mb-4">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color:lightseagreen ;">
            <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">HTML, CSS, Javascript (90%)</h4>
          </div>
        </div>
      </div>
      
      
      <!-- <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Java</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 85%;"></div>
                  <span class="progress-value">85%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">C#</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 80%;"></div>
                  <span class="progress-value">80%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Angular</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 80%;"></div>
                  <span class="progress-value">80%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">React</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 75%;"></div>
                  <span class="progress-value">75%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">SQL and MongoDB</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 75%;"></div>
                  <span class="progress-value">75%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">HTML,CSS,JS</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></div>
                  <span class="progress-value">70%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Node.js</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 75%;"></div>
                  <span class="progress-value">75%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
               <div class="progress-container progress-primary">
                <span class="progress-badge">HTML,CSS,JS</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></div>
                  <span class="progress-value">70%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    </div>
  </div>