<!-- <body> -->
<div class="section" id="contact"
  style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg'); background-size: cover;">
  <!-- <div class="st"> -->
  <div class="container" style="padding-top: 10px;
  padding-bottom: 120px;">
    <!-- <div class="row flex-center"> -->
    <div class="h4 text-center mb-4 title">Contact Me</div>
    <div class="card" data-aos="fade-up">
      <!-- <div class="h4 text-center mb-4 title" style="text-align: center;">Contact Me</div> -->
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <a class="flex-align-center" href="mailto:sakshigupta4991@gmail.com">
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              <p class="wider-letter-space"> 
              <!-- [ngClass]="{'color-hover bold-font': lineHover.onEmail}"
              > -->
                sakshigupta4991@gmail.com
              </p>
            </a>
            <a class="flex-align-center" href="https://github.com/sakshigupta150294/">
              <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              <p class="wider-letter-space" >
              <!-- [ngClass]="{'color-hover bold-font': lineHover.onEmail}"> -->
                Check out my Github repositories.
              </p>
            </a>
            <a class="flex-align-center" href="https://www.linkedin.com/in/sakshigupta15/">
              <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
              <p class="wider-letter-space" >
                <!-- [ngClass]="{'color-hover bold-font': lineHover.onEmail}"> -->
                Connect with me on LinkedIn.
              </p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p style="margin: 0em !important;">
              <strong>Phone</strong>
            </p>
            <p style="margin: .5em !important;">+1 (857) 800 4078</p>
            <p style="margin: 0em !important;">
              <strong>Address</strong>
            </p>
            <p style="margin: .5em !important;">38, South Huntington, apartment 2, Jamaica Plain, MA, 02130, US</p>
          </div>
        </div>
      </div>
    </div>
    <!--<mdb-card id="contact-card">
        <a
          (mouseenter)="lineHover.onEmail = true;"
          (mouseleave)="lineHover.onEmail = false;"
          class="flex-align-center"
          href="mailto:gomezbateman@yahoo.com">
          <mdb-icon
            far icon="envelope" size="2x"
            [ngClass]="{'color-hover': lineHover.onEmail}"
          ></mdb-icon>
          <p
            class="wider-letter-space"
            [ngClass]="{'color-hover bold-font': lineHover.onEmail}">
            gomezbateman@yahoo.com
          </p>
        </a>
        <a
          (mouseenter)="lineHover.onGithub = true;"
          (mouseleave)="lineHover.onGithub = false;"
          class="flex-align-center"
          href="https://github.com/AndrewJBateman"
          target="_blank">
          <mdb-icon
            fab icon="github" size="2x"
            [ngClass]="{'color-hover': lineHover.onGithub}"
          ></mdb-icon>
          <p
            [ngClass]="{'color-hover bold-font': lineHover.onGithub}">
            Check out my Github repositories.
          </p>
        </a>
        <a
          (mouseenter)="lineHover.onLinkedIn = true;"
          (mouseleave)="lineHover.onLinkedIn = false;"
          class="flex-align-center"
          href="https://www.linkedin.com/in/andrew-bateman/"
          target="_blank">
          <mdb-icon
            fab icon="linkedin" size="2x"
            [ngClass]="{'color-hover': lineHover.onLinkedIn}">
          </mdb-icon>
          <p
            [ngClass]="{'color-hover bold-font': lineHover.onLinkedIn}">
            Connect with me on LinkedIn.
          </p>
        </a>
      </mdb-card> -->
    <!-- </div>end of row flex-center -->
  </div>
  <!-- </div> -->
</div>
<!-- </body> -->