<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <!-- <div class="row"> -->
          <!-- <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Expected graduation - May, 2021</p>
              <div class="h5">Masters in Information Systems</div>
            </div>
          </div> -->
          <div data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="row">
              <div class="col-md-2">
                <!-- <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i> -->
                <!-- <i class="fas fa-medal"></i> -->
                <!-- <i class="fa fa-medal"></i> -->
                <!-- <i class="fas fa-medal"></i> -->
                <img src="../../../assets/images/medal4.jfif" />
              </div>
              <div class="col-md-10">
                <!-- <div class="h5">Bachelor of Engineering</div> -->
                <h4 class="card-title category">Northeastern University
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Expected graduation August, 2021</h6>
                <!-- <ul> -->
                <!-- <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li> -->
                <!-- <li>Masters in Information Systems </li> -->
                <p class="card-text">Masters in Information Systems</p>
                <p style="margin: 0px;">Courses - </p>
                <p>Network Structures and Cloud Computing, Web Design and User Experience, Web development Tools and
                  Methods
                </p>
                <!-- <ul style="list-style-type: none;">
                  <li>
                    Application Engineering Development, Web Design and User Experience, Web development Tools and Methods
                  </li>
                </ul> -->
                <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li> -->
                <!-- </ul> -->
              </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <!-- <div class="row"> -->
          <!-- <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Expected graduation - May, 2021</p>
              <div class="h5">Masters in Information Systems</div>
            </div>
          </div> -->
          <div data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <!-- <div class="h5">Bachelor of Engineering</div> -->
              <div class="row">
                <div class="col-md-2">
                  <!-- <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i> -->
                  <!-- <i class="fas fa-medal"></i> -->
                  <!-- <i class="fa fa-medal"></i> -->
                  <!-- <i class="fas fa-medal"></i> -->
                  <img src="../../../assets/images/medal4.jfif" />
                </div>
                <div class="col-md-10">
                  <h4 class="card-title category">Dr. A.P.J Abdul Kalam Technical University
                  </h4>
                  <h6 class="card-subtitle mb-2 text-muted">2012 - 2016</h6>
                  <!-- <ul> -->
                  <!-- <li> Aditya Silver Oak Institute is GTU Affiliated and <b>ranks 7th</b> in Gujurat </li> -->
                  <!-- <li>Masters in Information Systems </li> -->
                  <p class="card-text">Bachelors in Computer Science</p>
                  <p style="margin: 0px;">Courses - </p>
                  <p> Object Oriented Programming using C++, Data Structures and Algorithms, Operating Systems
                  </p>
                </div>
                <!-- <ul style="list-style-type: none;">
                  <li>
                    Application Engineering Development, Web Design and User Experience, Web development Tools and Methods
                  </li>
                </ul> -->
                <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li> -->
                <!-- </ul> -->
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2012</p>
              <div class="h5">Higher Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary School</div>
               <h4 class="category">Apeejay School, Noida
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2010</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Apeejay School, Noida
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>